section.short-section.short-section--light(data-id="novice")
  .container.short-section__container
    .short-section__top
      .short-section__left
        h2.heading 01
      .short-section__whom
        p Новичкам
      .short-section__description
        p.subheading здесь — коротко о&nbsp;разделе.
        p.subheading всего пара строк.
section.section-list
  .section-list__item
    .container
      .section-list__left
        a(href="") Свежее
        a.tag-big--empty
      .section-list__right
        a(href="") Предоставление гостевых доступов к Яндекс Директ и Google Adwords
        p.section-list__author Андрей Гавриков
  .section-list__item
    .container
      .section-list__left.section-list__left--onlytag
        a.tag-big Выбор редакции
      .section-list__right
        a(href="") Setuper Expert — онбординг для интерфейсов
        p.section-list__author Сергей Болисов
  .section-list__item
    .container
      .section-list__left.section-list__left--onlytag
        a.tag-big Выбор редакции
      .section-list__right
        a(href="") Как сделать лендинг, который будет “цеплять” ваших клиентов
        p.section-list__author Completo
  .section-list__item
    .container
      .section-list__left
        a(href="") Лучшее по теме
        a.tag-big--empty
      .section-list__right
        a(href="") Удалить нельзя оптимизировать
        p.section-list__author Completo
  .section-list__item
    .container
      .section-list__left.section-list__left--empty
      .section-list__right
        a(href="") 10 ошибок в рекламе Facebook, из-за которых вы сливаете бюджет
        p.section-list__author Ксения Вавилова
.short-section
  .container.short-section__container
    .short-section__bottom
      .short-section__left
        .short-section__compilation
          p.smalltext Подборки
          p С чего начать, если я&nbsp;хочу сделать:
      .short-section__right
        .short-section__variants
          ul
            li
              a(href="") Сильную маркетинговую команду
            li
              a(href="") Крутой текст
            li
              a(href="") Конверсионный лендинг
            li
              a(href="") Рекламную кампанию
            li
              a(href="") Интернет-магазин
            li
              a(href="") Медиа
            li
              a(href="") Пост в соцсеть
            li
              a(href="") Таргет
            li
              a(href="") Развивать бренд
            li
              a(href="") Вести переговоры
            li
              a(href="") Работать на фрилансе
    .short-section__cta.short-section__cta--flex-end
      a(href="").btn.short-section__btn Подписаться на раздел
