.course-promo
  img(src="/img/course-cover-2x.png", alt="", loading="lazy", srcset="/img/course-cover-small.png 1.5x, /img/course-cover-2x.png 2x, /img/course-cover-4x.png 4x")
  .container.course-promo__container
    .course-promo__top
      h2.subheading.course-promo__subheading 06.10—20.12
    .course-promo__middle
      p.smalltext Курс
    .course-promo__heading
      a(href="").subheading SMM-PROMO 2020
    .course-promo__bottom
      .course-promo__info
        p.tag-big 2.5 месяца
        a(href="").course-description Лучший курс для начинающих в сфере SMM
        .course-promo__price
          p.course-price.course-price--old 45,000 руб.
          p.course-price 35,500 руб.
      .course-promo__cta
        a(href="").btn.course-promo__btn Подробнее
