section.rating
    .container.rating__container
      h2.subheading.rating__subheading здесь&nbsp;&mdash; коротко о&nbsp;рейтинге. Больше пишешь и&nbsp;читаешь, а&nbsp;также комментируешь&nbsp;&mdash; попадаешь в&nbsp;наш топ. Вот правила.
      .rating__wrapper
        .rating__item
          p Простое правило
        .rating__item
          p Наши преподаватели настоящие фанаты своего дела и MAD и хотят делиться своим безумием с учениками, хотят зажигать в них эту страсть к предмету.
        .rating__item.rating__item--desktop
          .rating__block
            p.rating__top Топ 5
            .rating__subject
              a(href="").rating-counter +45
              a(href="").rating__person Андрей Иванов
            .rating__views
              p 4 560
          .rating__block
            .rating__subject
              a(href="").rating-counter +24
              a(href="").rating__person Константин Петров
            .rating__views
              p 4 062
          .rating__block
            .rating__subject
              a(href="").rating-counter--empty
              a(href="").rating__person Иван Аксенов
            .rating__views
              p 3 680
          .rating__block
            .rating__subject
              a(href="").rating-counter +35
              a(href="").rating__person Александр Македонский
            .rating__views
              p 3 209
          .rating__block
            .rating__subject
              a(href="").rating-counter--empty
              a(href="").rating__person Петр Романов
            .rating__views
              p 2 520
        .rating__item.rating__item--mob
          .rating__block
            .rating__block__top
              p.rating__top Топ 5
              .rating__data
                a(href="").rating__person Андрей Иванов
                .rating__views
                  p 4 560
            .rating__block__bottom
              a(href="").rating-counter +45
              .rating__group
                p Completo
          .rating__block
            .rating__block__top
              .rating__data
                a(href="").rating__person Константин Петров
                .rating__views
                  p 4 062
            .rating__block__bottom
              a(href="").rating-counter +24
              .rating__group
                p MAD
          .rating__block
            .rating__block__top
              .rating__data
                a(href="").rating__person Иван Алексеев
                .rating__views
                  p 3 680
            .rating__block__bottom
              a(href="").rating-counter.rating-counter--empty
              .rating__group
                p Completo
          .rating__block
            .rating__block__top
              .rating__data
                a(href="").rating__person Александр Македонский
                .rating__views
                  p 3 209
            .rating__block__bottom
              a(href="").rating-counter +45
              .rating__group
                p
          .rating__block
            .rating__block__top
              .rating__data
                a(href="").rating__person Петр Романов
                .rating__views
                  p 2 520
            .rating__block__bottom
              a(href="").rating-counter.rating-counter--empty
              .rating__group
                p Completo
      .rating__bottom
        a(href="").btn.rating__authors Рейтинги авторов
