section.promo-video
  img(src="img/promo-video-cover-1x.png", alt="", srcset="img/promo-video-cover-2x.png 2x, img/promo-video-cover-4x.png 4x")
  .container.promo-video__container
    .promo-video__top
      p.smalltext Учитесь бесплатно
    a(href="").promo-video__button.promo-video__button--desktop
      img(src="img/play-icon.svg")
    .promo-video__bottom.promo-video__bottom--desktop
      .promo-video__left
        a(href="").tag-big Выбор редакции
        a(href="").promo-video__name Персонализация маркетинга. Зарубежные кейсы и практики
        p.promo-video__time 34:50
      .promo-video__right
        .promo-video__author
          a(href="").promo-video__author__img
            img(src="img/promo-video-author-1x.png", alt="", srcset="img/promo-video-author-2x.png 2x, img/promo-video-author-4x.png 4x")
          p.smalltext Сергей Константинов
    .promo-video__bottom.promo-video__bottom--mob
      .promo-video__left
        p.promo-video__time 34:50
        a(href="").promo-video__name Персонализация маркетинга. Зарубежные кейсы и практики
        a(href="").tag-big Выбор редакции
      .promo-video__right
        a(href="").promo-video__button
          img(src="img/play-icon.svg")
