footer
  .container
    .footer_top_nav.footer_desktop
      .footer_top_nav_item
        a().footer_top_nav_heading MAD
        ul
          li
            a(href="") Об Академии
          li
            a(href="") Обучение
          li
            a(href="") Работа в Академии
          li
            a(href="") Партнеры
      .footer_top_nav_item
        a().footer_top_nav_heading Журнал
        ul
          li
            a(href="") Новичкам
          li
            a(href="") Предпринимателям
          li
            a(href="") Маркетологам
          li
            a(href="") Руководителям
          li
            a(href="") Тесты
      .footer_top_nav_item
        a().footer_top_nav_heading Информация
        ul
          li
            a(href="") Условия публикаций
          li
            a(href="") Партнерская программа
          li
            a(href="") Курсы
          li
            a(href="") Отзывы
          li
            a(href="") Истории выпускников
          li
            a(href="") Лицензии
      .footer_top_nav_item.footer_contacts
        a().footer_top_nav_heading Контакты
        ul
          li
            a(href="") Москва,<br />ул. Садовническая, дом 54,<br />строение 2
          li
            a(href="tel:+74959847500") +7 (495) 984—7500
        .footer_open_hours
          p Мы открыты каждый день
          p 10:00—21:00
        .footer_howtoget
          a(href="") Схема проезда
          a(href="") Написать
        .footer_writeus
          a#subscribe(name="subscribe")
          form(method="POST", action="", id="footerSubscribe")
            input(type="email", placeholder="Email")
            .footer_writeus_button
              p Подписка на&nbsp;бесплатные знания
              a(href="") OK
    .footer_bottom_nav.footer_bottom.footer_desktop
      .footer_bottom_nav_item
        p.footer_copyright &copy;2020 MAD. Marketing Academy in Digital.
      .footer_bottom_nav_item
        ul.footer_social
          li
            a(href="") Facebook
          li
            a(href="") Vkontakte
          li
            a(href="") Instagram
          li
            a(href="") Youtube
      .footer_bottom_nav_item
        .footer_bottom_buttons
          a(href="").btn.footer_bottom_btn Получить консультацию
          a(href="").btn.footer_bottom_btn Выбрать курс
    .footer_mob
      .footer_mob_top
        .footer_bottom_buttons
          a(href="").btn.footer_bottom_btn Получить консультацию
          a(href="").btn.footer_bottom_btn Выбрать курс
      .footer_mob_middle
        a#subscribe(name="subscribe")
        form(method="POST", action="")
          input(type="email", placeholder="Email", tabindex="0")
          .footer_writeus_button
            p Подписка на&nbsp;бесплатные знания
            a(href="") OK
      .footer_mob_bottom
        p.footer_copyright &copy;2020 MAD. Marketing Academy in Digital.
