main
  include ../blocks/rating/index.pug
  include ../blocks/tagcloud/index.pug
  include ../blocks/course-promo/index.pug
  include ../blocks/short-section/index.pug
  include ../blocks/main-promo/index.pug
  include ../blocks/short-section-dark/index.pug
  include ../blocks/promo-video/index.pug
