main
  section.article__meta--mobile
      .container
        .article__meta__left
          .post-date
              p 08.10.2020
        .article__meta__right
          .post-length
              p 9 мин
          .post-views
              p 24560 просмотров
  section.article__poster.post-inner#articlePoster
    figure.wp-block-image
      img.article__poster__cover(src="img/main-promo-webinar-2x.png" srcset="img/main-promo-webinar-2x.png 2x, img/main-promo-webinar-4x.png 4x", alt="")
    .container.article__poster__container.article__poster--desktop
      .article__poster__top
        .article__poster__left
          ul.post-meta
            .post-date
              p 08.10.2020
            .post-length
              p 9
                sup мин
            a(href="").post-author Андрей Иванов
        .article__poster__right
          p.post-views 24560 просмотров
          a(href="").post-comment-link#postCommentsLink 9 комментариев
          a(href="").post-bookmark
            |  Прочесть позже
      .article__poster__bottom
        .article__poster__social
          ul
            li
              a(href="")
                img(src="img/icons/instagram-share.svg")
            li
              a(href="")
                img(src="img/icons/vk-share.svg")
            li
              a(href="")
                img(src="img/icons/fb-share.svg")
    .container.article__poster__container.article__poster--mobile
      .article__poster__top
        .article__poster__left
          a(href="").post-author Андрей Иванов
          a(href="").post-comment-link 9 комментариев
        .article__poster__right
          a(href="").post-bookmark.post-bookmark--mob
            img(src="img/icons/icon-bookmark.svg")
      .article__poster__bottom
        .article__poster__social
          ul
            li
              a(href="")
                img(src="img/icons/instagram-share.svg")
            li
              a(href="")
                img(src="img/icons/vk-share.svg")
            li
              a(href="")
                img(src="img/icons/fb-share.svg")
  section.article__contain.ha-waypoint(data-animate-down="ha-header-small", data-animate-up="ha-header-large")
    .wp-block-columns
      .wp-block-column
        h3.article__subheading Содержание статьи
      .wp-block-column
        ul
          li
            a(href="") Что должно входить в аудит интернет-маркетинга?
          li
            a(href="") Общий анализ трафика
          li
            a(href="") Анализ контекстной рекламы в Яндекс и Google
          li
            a(href="") Анализ сообществ в социальных сетях
          li
            a(href="") Анализ позиционирования и торгового предложения
          li
            a(href="") Анализ механик и элементов сайта, влияющих на конверсию
          li
            a(href="") Технический аудит сайта
          li
            a(href="") Кто должен анализировать интернет-маркетинг?
  section.article__contain
    h3 В первую очередь бизнесу важны посетители, доход.
    .wp-block-columns
      .wp-block-column
        p Вступление
      .wp-block-column
        p Успешность интернет-маркетинга завязана на многих факторах. Чтобы провести потенциального покупателя через всю воронку продаж, придется выстроить такой механизм взаимодействия, который будет работать на каждом этапе, как швейцарские часы, — отлажено и безотказно.
        p Конверсия — штука капризная. Потенциальный клиент может слиться на любом этапе взаимодействия: поленится дочитывать нудную портянку о компании, устанет заполнять форму заявки, не дождется загрузки сайта на смартфоне или ответа на свой вопрос в социальной сети. Свести к минимуму такие факапы поможет анализ сайта и всех маркетинговых активностей компании в интернете.
  section.article__banner
    img(src="img/article-image-1x.png", srcset="img/article-image-2x.png 2x, img/article-image-4x.png 4x")
    .container.article__container
      .article__top
        p.smalltext Название изображения. Краткое примечание
      .article__bottom
        a(href="").btn.article__cta__btn Курсы MAD
  section.article__contain
    h3 Что должно входить в аудит интернет маркетинга?
    .wp-block-columns
      .wp-block-column
        p А вы знали что?
      .wp-block-column
        p В первую очередь бизнесу важны посетители, приносящие доход. Голая посещаемость без совершения покупок и заказов для компании так же бесполезна, как и ее отсутствие. Что делать, если посетителей мало или они нецелевые, подскажет анализ трафика. Системы аналитики Яндекс и Google позволяют узнать, кто приходил на сайт (демографические характеристики аудитории), откуда и по каким ключевым словам, с каких устройств, сколько времени длился визит, какие страницы заинтересовали посетителей, какие целевые действия были выполнены и т. п.
  section.article__list
    .article__list__item
      .container
        .article__list__left
          p Общий анализ трафика
        .article__list__right
          p 67% сразу после курса решили свои задачи в маркетинге
    .article__list__item
      .container
        .article__list__left
        .article__list__right
          p 87% смогли применить свои новые знания и получить результат
    .article__list__item
      .container
        .article__list__left
        .article__list__right
          p 50% после окончания курса смогли решить дополнительные задачи, которые изначально не ставили перед началом обучения
    .article__list__item
      .container
        .article__list__left
        .article__list__right
          p Более 43% студентов благодаря обучению в MaEd систематизировали свои знания в маркетинге
    .article__list__item
      .container
        .article__list__left
        .article__list__right
          p Более 28% студентов узнали новые инструменты
  section.article__contain
    h3 Какие проблемы есть на сайтах компаний застройщиков?
    .wp-block-columns
      .wp-block-column
        p Давайте поговорим
      .wp-block-column
        p Успешность интернет-маркетинга завязана на многих факторах. Чтобы провести потенциального покупателя через всю воронку продаж, придется выстроить такой механизм взаимодействия, который будет работать на каждом этапе, как швейцарские часы, — отлажено и безотказно.
        p Конверсия — штука капризная. Потенциальный клиент может слиться на любом этапе взаимодействия: поленится дочитывать нудную портянку о компании, устанет заполнять форму заявки, не дождется загрузки сайта на смартфоне или ответа на свой вопрос в социальной сети. Свести к минимуму такие факапы поможет анализ сайта и всех маркетинговых активностей компании в интернете.
  section.article__slider
    .container
      .article__slider__controls#articleSliderControls
        .article__slider__prev
          //- img(src="img/icons/article-slider-prevarrow.svg")
        .article__slider__next
          //- img(src="img/icons/article-slider-nextarrow.svg")
      .article__carousel#articleCarousel
        .article__carousel__item
          img(src="img/article-promo-webinar-1x.png")
        .article__carousel__item
          img(src="img/article-promo-webinar-1x.png")
        .article__carousel__item
          img(src="img/article-promo-webinar-1x.png")
      .article__slider__nav#articleSliderNav
        .slider__nav__item
        .slider__nav__item
        .slider__nav__item
  section.article__contain
    .wp-block-columns
      .wp-block-column
      .wp-block-column
        p Теперь юзабилити, плохо проработанные формы заявок и ленивые менеджеры не станут камнем преткновения вашего бизнеса. Сервис проведет клиента по основным разделам сайта, поможет разобраться в условиях. Он покажет, где найти и как заполнить формы обратной связи, а продажи станут меньше зависеть от человеческого фактора и настроения менеджеров в колл-центре.
        p Направление онбординг-помощников уже долгое время существует на западном рынке, с 2012 года оно активно развивается. На наших просторах онбординг только зарождается и встречается в единичных экземплярах у некоторых компаний.
        p Нет, данные сервисы — не панацея. Все еще очень много будет зависеть от грамотно проработанного сайта, правильного контента и заботливых менеджеров. Однако это очень хороший инструмент, который даст вам хороший толчок за короткое время.
    .wp-block-quote
      p Чтобы провести потенциального покупателя через всю воронку продаж, придется выстроить такой механизм взаимодействия, который будет работать на каждом этапе, как швейцарские часы, — отлажено и безотказно.
    .wp-block-columns
      .wp-block-column
        p Успешность интернет-маркетинга
      .wp-block-column
        p Успешность интернет-маркетинга завязана на многих факторах. Чтобы провести потенциального покупателя через всю воронку продаж, придется выстроить такой механизм взаимодействия, который будет работать на каждом этапе, как швейцарские часы, — отлажено и безотказно.
        p Конверсия — штука капризная. Потенциальный клиент может слиться на любом этапе взаимодействия: поленится дочитывать нудную портянку о компании, устанет заполнять форму заявки, не дождется загрузки сайта на смартфоне или ответа на свой вопрос в социальной сети. Свести к минимуму такие факапы поможет анализ сайта и всех маркетинговых активностей компании в интернете.
  .inset.inset--background
    .container
      h2 Голландская болезнь
      p Голландской болезнью называют ситуацию, когда национальная валюта укрепляется за счет бума в сырьевом секторе экономики.
      p В 1896 году в Голландии было открыто крупное газовое месторождение. Его быстро освоили и стали добывать газ в больших объемах. Через двадцать лет зависимость от газа привела к росту инфляции и безработицы.

  section.article__contain
    .wp-block-columns
      .wp-block-column
      .wp-block-column
        p Теперь юзабилити, плохо проработанные формы заявок и ленивые менеджеры не станут камнем преткновения вашего бизнеса. Сервис проведет клиента по основным разделам сайта, поможет разобраться в условиях. Он покажет, где найти и как заполнить формы обратной связи, а продажи станут меньше зависеть от человеческого фактора и настроения менеджеров в колл-центре.
        p Направление онбординг-помощников уже долгое время существует на западном рынке, с 2012 года оно активно развивается. На наших просторах онбординг только зарождается и встречается в единичных экземплярах у некоторых компаний.
        p Нет, данные сервисы — не панацея. Все еще очень много будет зависеть от грамотно проработанного сайта, правильного контента и заботливых менеджеров. Однако это очень хороший инструмент, который даст вам хороший толчок за короткое время.

  .inset.inset--lines
    .container
      h2 Голландская болезнь
      p Голландской болезнью называют ситуацию, когда национальная валюта укрепляется за счет бума в сырьевом секторе экономики.
      p В 1896 году в Голландии было открыто крупное газовое месторождение. Его быстро освоили и стали добывать газ в больших объемах. Через двадцать лет зависимость от газа привела к росту инфляции и безработицы.

  include ../../blocks/subscribe/index.pug

  section.article__contain
    .container
      .table__wrapper
        table.table--horizontal
          thead
            tr
              th Статья расхода
              th Планировали
              th Потратили
          tbody
            tr
              td Кофемашина
              td 200 000 Р
              td 150 000 Р
            tr
              td Кофемолка
              td 200 000 Р
              td 150 000 Р
            tr
              td Кофеварка
              td 200 000 Р
              td 150 000 Р
  section.article__contain
    .container
      h2 Кем может быть няня в семье
      .table__wrapper
        table.table--vertical
          thead
            tr
              td Роль
              td Ожидание
          tbody
            tr
              td Воспитатель
              td Ухаживает за ребенком, обучает его самостоятельному уходу за собой. Ухаживает за ребенком, обучает его самостоятельному уходу за собой. Ухаживает за ребенком, обучает его самостоятельному уходу за собой
            tr
              td Помощница по хозяйству
              td Кроме воспитания ребенка справляется со всеми домашними делами. Ухаживает за ребенком, обучает его самостоятельному уходу за собой. Ухаживает за ребенком, обучает его самостоятельному уходу за собой
            tr
              td Компаньон по играм
              td Это няня на 2-4 часа в день. Ухаживает за ребенком, обучает его самостоятельному уходу за собой. Ухаживает за ребенком, обучает его самостоятельному уходу за собой
      figure(data-align="center" data-width="400" data-height="auto").article__illustration
        img(src="img/article-promo-webinar-1x.png" loading="lazy" alt="" data-fancybox="gallery" href="img/article-promo-webinar-1x.png")
        figcaption Пример иллюстрации с подписью
      a.btn.btn__go(data-href="/", data-target="_blank", data-background="#f6004b", data-color="#ffffff", data-radius="0", data-align="center") Переход куда-то
