main
  article.article
    section.article__poster
      img.article__poster__cover(src="img/main-promo-webinar-2x.png" srcset="img/main-promo-webinar-2x.png 2x, img/main-promo-webinar-4x.png 4x", alt="")
      .container.article__poster__container
        .article__poster__top
          .article__poster__left
            .article__poster__date
              p 08.10.2020
            .article__poster__length
              p 9
                sup мин
            a(href="").article__poster__author Андрей Иванов
          .article__poster__right
            p.article__poster__views 24560 просмотров
            a(href="").article__poster__comments 9 комментариев
            .article__poster__bookmark
              img(src="img/icons/icon-bookmark.svg")
              a(href="") Прочесть позже
        .article__poster__bottom
          .article__poster__social
            ul
              li
                a(href="")
                  img(src="img/icons/instagram-share.svg")
              li
                a(href="")
                  img(src="img/icons/vk-share.svg")
              li
                a(href="")
                  img(src="img/icons/fb-share.svg")
    section.article__contain
      .container.article__container
        .article__left
          h3.article__subheading Содержание статьи
        .article__right
          ul
            li
              a(href="") Что должно входить в аудит интернет-маркетинга?
            li
              a(href="") Общий анализ трафика
            li
              a(href="") Анализ контекстной рекламы в Яндекс и Google
            li
              a(href="") Анализ сообществ в социальных сетях
            li
              a(href="") Анализ позиционирования и торгового предложения
            li
              a(href="") Анализ механик и элементов сайта, влияющих на конверсию
            li
              a(href="") Технический аудит сайта
            li
              a(href="") Кто должен анализировать интернет-маркетинг?
    section.article__subheading
      .container.article__container
        h3.article__subheading.article__subheading--alignleft В первую очередь бизнесу важны посетители, доход.
    section.article__intro
      .container.article__container
        .article__left
          p Вступление
        .article__right
          p Успешность интернет-маркетинга завязана на многих факторах. Чтобы провести потенциального покупателя через всю воронку продаж, придется выстроить такой механизм взаимодействия, который будет работать на каждом этапе, как швейцарские часы, — отлажено и безотказно.
          p Конверсия — штука капризная. Потенциальный клиент может слиться на любом этапе взаимодействия: поленится дочитывать нудную портянку о компании, устанет заполнять форму заявки, не дождется загрузки сайта на смартфоне или ответа на свой вопрос в социальной сети. Свести к минимуму такие факапы поможет анализ сайта и всех маркетинговых активностей компании в интернете.
    section.article__banner
      img(src="img/article-image-1x.png", srcset="img/article-image-2x.png 2x, img/article-image-4x.png 4x")
      .article__container
        .article__left
          p.smalltext Название изображения. Краткое примечание
        .article__right
          .article__banner__cta
            a(href="").btn.article__cta__btn




