.article-promo
  .article-promo__special.display--desktop
    #desktopPromoSlider.article-promo__special__carousel
      .article-promo__special__item
        img(src="/img/article-promo-special-1x.png" loading="lazy" srcset="/img/article-promo-special-2x.png 2x, /img/article-promo-special-4x.png 4x")
        .article-promo__container
          .article-promo__top
            .article-promo__left
              h3.subheading.article-promo__subheading 20.09
              a(href="").tag.article-promo__tag день открытых дверей
            .article-promo__right.justify-content-end
              p.smalltext.article-promo__timing 4:12:45
          .article-promo__bottom
            a(href="").article-promo__cta Специальный гость: Баранов Артём
      .article-promo__special__item
        img(src="/img/article-promo-special-1x.png" loading="lazy" srcset="/img/article-promo-special-2x.png 2x, /img/article-promo-special-4x.png 4x")
        .article-promo__container
          .article-promo__top
            .article-promo__left
              h3.subheading.article-promo__subheading 20.09
              a(href="").tag.article-promo__tag день открытых дверей
            .article-promo__right.justify-content-end
              p.smalltext.article-promo__timing 4:12:45
          .article-promo__bottom
            a(href="").article-promo__cta Специальный гость: Баранов Артём
  .article-promo__special.display--mob
    #mobilePromoSlider.article-promo__special__carousel
      .article-promo__special__item
        img(src="/img/article-promo-special-1x.png" loading="lazy" srcset="/img/article-promo-special-2x.png 2x, /img/article-promo-special-4x.png 4x")
        .article-promo__container
          .article-promo__top
            .article-promo__left
              h3.subheading.article-promo__subheading 20.09
              a(href="").tag.article-promo__tag день открытых дверей
          .article-promo__bottom
            p.smalltext.article-promo__timing 4:12:45
            a(href="").article-promo__cta Специальный гость: Баранов Артём
      .article-promo__special__item
        img(src="/img/article-promo-special-1x.png" loading="lazy" srcset="/img/article-promo-special-2x.png 2x, /img/article-promo-special-4x.png 4x")
        .article-promo__container
          .article-promo__top
            .article-promo__left
              h3.subheading.article-promo__subheading 20.09
              a(href="").tag.article-promo__tag день открытых дверей
          .article-promo__bottom
            p.smalltext.article-promo__timing 4:12:45
            a(href="").article-promo__cta Специальный гость: Баранов Артём
  .article-promo__masterclass
    img(src="/img/article-promo-master-1x.png" loading="lazy" srcset="/img/article-promo-master-2x.png 2x, /img/article-promo-master-4x.png 4x")
    .article-promo__container
      .article-promo__top
        h3.subheading.article-promo__subheading 06.10
      .article-promo__bottom
        a(href="").article-promo__cta Мастер-класс
  .article-promo__webinar
    img(src="/img/article-promo-webinar-1x.png" loading="lazy" srcset="/img/article-promo-webinar-2x.png 2x, /img/article-promo-webinar-4x.png 4x")
    .article-promo__container
      .article-promo__top
        h3.subheading.article-promo__subheading 24.10
      .article-promo__bottom
        a(href="").article-promo__cta Вебинар
