<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="style/main.min.css")
        meta(name="theme-color" content="#ffffff")
        meta(name="description", content="MAD website")
        meta(name="keywords", content="MAD website")
        meta(property="og:title" content="MAD Website")
        meta(property="og:type" content="website")
        meta(property="og:url" content="https://mad.ru")
        meta(property="og:image" content="")
        title MAD Website
        link(rel="apple-touch-icon" sizes="57x57" href="/img/icons/favicons/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="/img/icons/favicons/apple-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="/img/icons/favicons/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="/img/icons/favicons/apple-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="/img/icons/favicons/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="/img/icons/favicons/apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="/img/icons/favicons/apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="/img/icons/favicons/apple-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="/img/icons/favicons/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192"  href="/img/icons/favicons//android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicons//favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="/img/icons/favicons//favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicons//favicon-16x16.png")
        link(rel="manifest" href="/img/icons/favicons//manifest.json")
        meta(name="msapplication-TileColor" content="#ffffff")
        meta(name="msapplication-TileImage" content="/img/icons/favicons//ms-icon-144x144.png")
        meta(name="theme-color" content="#ffffff")
    body
        include template/header.pug
        include template/main.pug
        include template/footer.pug
        include template/scripts.pug
