.container {
  width: 100%;
  height: auto;
  max-width: 1600px;

  margin: 0px auto;

  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 40px;
  padding-right: 40px;

  @media (max-width: 768px) {
    padding: 15px;
  }
}
