.editorchoise {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 120px;
  height: 20px;

  background-color: $bg-rose;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;

  transition: all .2s ease-in;

  &:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: $bg-rose;
    text-decoration: none;
  }
}
