.header {
  @include flex(space-between, flex-start);
  width: 100%;
  height: auto;
  @include base-transition;
  &_nav {
    @include flex(space-between, flex-start);
    width: 100%;
    height: auto;
    position: relative;
    z-index: 100;
    background: #ffffff;
    .container {
      padding-top: 25px;
      @include flex(flex-start, center);
      @include mad-tablet() {
        @include flex(space-between, center);
      }
      @include mad-mobile() {
        @include flex(space-between, center);
      }
    }
    &_brand {
      width: 275px;
      height: auto;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin-right: 289px;
      & a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 68.22px;
        height: 23.54px;
        margin-right: 16.78px;
      }
      & p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px !important;
        line-height: 1em !important;
        color: $bg-black;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
      }
    }
    &_middle {
      width: 250px;
      display: flex;
      justify-content: space-between;
      margin-right: 305px;
      & .nav_item:nth-child(2) {
          margin-right: 0px;
      }
    }
    &_right {
      width: 397px;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      & .nav_item {
        margin-right: 107px;
      }
    }
  }
}

.nav_item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000000;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  transition: all .2s ease-in;
  margin-right: 157px;
  text-transform: uppercase;
  &:hover,
  &:focus {
    cursor: pointer;
    text-decoration: none;
    color: $bg-rose;
  }
  &--active {
    color: $bg-rose;
    text-decoration: none;
  }
}
.nav_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 40px;
  border-radius: 20px;
  background-color: $bg-lightgrey;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: underline;
  text-transform: uppercase;
  color: #000000;

  transition: all .2s ease-in;
  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $bg-rose;
    color: #ffffff;
    text-decoration: none;
  }
}
.nav_search {
  margin-right: 40px;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .header_nav {
    justify-content: space-between;
    & .container {
      @include flex(space-between, center);
    }
  }
  .header_nav_brand {
    margin-right: initial;
  }
  .header_nav_middle {
    margin-right: initial;
  }
  .header_nav_right {
    justify-content: space-between;
    flex-flow: row;
    width: 30%;
  }
  .header_nav_right .nav_item {
    margin-right: initial;
  }

  .nav_search {
    margin-left: 20px;
    margin-right: 20px;
  }
  .header_nav_middle {
    max-width: 20%;
    margin-right: 5%;
    margin-left: 5%;
  }
  .nav_item {
    margin-right: initial;
  }

}
@media (min-width: 1200px) and (max-width: 1599.98px) {
  .header_nav {
    justify-content: space-between;
  }
  .header_nav_brand {
    margin-right: initial;
  }
  .header_nav_middle {
    margin-right: initial;
  }
  .header_nav_right {
    justify-content: space-between;
    flex-flow: row;
  }
  .header_nav_right .nav_item {
    margin-right: initial;
  }
  .nav_search {
    margin-left: 20px;
    margin-right: 20px;
  }
  .header_nav_middle {
    max-width: 20%;
    margin-right: 5%;
    margin-left: 5%;
  }
  .nav_item {
    margin-right: initial;
  }

}
.header_menu_mob {
  display: none;
}
.header_nav_mob {
  display: none;
}
@media (max-width: 767.98px) {
  .header_nav {
    display: none;
  }

  .header_nav_mob {
    width: 100%;
    height: auto;
    @include flex(space-between, center);
    .container {
      @include flex(space-between, center);
    }
    .header_nav_brand {
      width: 87px;
      margin-right: initial;
      & a {
        margin-right: initial;
      }
    }
    .header_nav_middle {
      margin-right: initial;
      width: 50%;
    }
    .nav_search {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
    }
    .header_nav_right {
      width: 40px;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      & .header_nav_hamburger {
        width: 40px;
        height: 22px;
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        & span {
          display: block;
          width: 40px;
          height: 2px;
          background-color: #000000;
          transition: all .2s ease-in;
          position: relative;
        }
        &--active {
          & span {
            color: #ffffff;
            &:nth-child(2) {
              display: none;
            }
            &:nth-child(1) {
              transform: rotate(45deg);
              top: 5px;
            }
            &:nth-child(3) {
              transform: rotate(-45deg);
              bottom: 6px;
            }
          }
        }
      }
    }
  }
}
.show {
  display: flex !important;
}

.header_menu_mob:not(.show) {
  display: none;
}

.header_menu_mob {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: #000000;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 120px;

  z-index: 9999;
  & .header_menu_close {
    position: absolute;
    top: 25px;
    right: 20px;
  }
  & .mobile_menu_buttons {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    & a {
      width: 100%;
      height: 30px;
      font-size: 0.625em;
    }
    & .mobile_subscribe_btn {
      border: 1px solid #ffffff;
      border-radius: 15px;
      color: #ffffff;
      text-transform: uppercase;
      margin-bottom: 10px;
      transition: all .2s ease-in;
      &:hover {
        cursor: pointer;
        background-color: #ffffff;
        color: #222222;
      }
    }
    & .mobile_cabinet_btn {
      border-radius: 15px;
      background-color: $bg-rose;
      color: #ffffff;
      text-transform: uppercase;
      transition: all .2s ease-in;
      &:hover {
        cursor: pointer;
      }
    }
  }
  & .mobile_menu_nav {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    &_block {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      flex-direction: column;
      margin-bottom: 40px;
      & ul {
        margin-left: 0px;
        padding-left: 0px;
        margin-top: 0px;
        & li {
          margin-bottom: 15px;
          & a {
            display: block;
            font-size: 16px;
            color: $bg-basicgrey;
            text-decoration: none;
            border-bottom: 1px solid $bg-basicgrey;
            padding-bottom: 2px;
            transition: all .2s ease-in;
            width: max-content;
            &:hover {
              color: $bg-rose;
              border-bottom: 1px solid transparent;
            }
          }
        }
        & .mobile_nav_tests {
          margin-top: 45px;
        }
        & .mobile_open_hours {
          & p {
            font-size: 12px;
            color: $bg-black;
            text-decoration: none;
          }
        }
      }
    }
    &_contacts_block {
      margin-bottom: 22px;
    }
    &_contacts {
      margin-bottom: 0px;
      & li {
        & a {
          border-bottom: none !important;
          &:hover {
            border-bottom: none !important;
          }
        }
      }
    }
    &_scheme {
      & ul {
        & li {
          margin-bottom: 5px;
        }
      }
    }
  }
  & .mobile_menu_social {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    padding-left: 5%;
    padding-right: 5%;
    & ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 0;
      padding-left: 0;
      & li {
        & a {
          font-size: 12px;
          color: $bg-basicgrey;
          transition: all .2s ease-in;
          &:hover {
            cursor: pointer;
            color: #ffffff;
          }
        }
      }
    }
  }
}
.header_menu_close {
  a {
    width: 40px;
    height: 22px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    & span {
      display: block;
      width: 40px;
      height: 2px;
      background-color: #ffffff;
      transition: all .2s ease-in;
      position: relative;
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(1) {
        transform: rotate(45deg);
        top: 5px;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        bottom: 6px;
      }
    }
  }
}

.header--smallHeight {
  height: 80px;
  min-height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  animation-name: changeHeight;
  animation-duration: .2s;
  z-index: 99999;
  @include mad-mobile() {
    & .header_nav {
      display: none !important;
    }
    & .header_nav_mob {
      display: flex !important;
      background-color: #fff;
      height: 80px;
    }
  }

  .breadcrumbs {
    display: none;
  }
  .entry-header {
    display: none;
  }
  .entry-categories {
    display: none;
  }
  .header_nav {
    height: 80px;
    @include flex(space-between, center);
  }
  .header_slogan {
    animation-name: heightZero;
    animation-duration: .2s;
    & .container {
      animation-name: heightZero;
    animation-duration: .2s;
      & .header_slogan_heading {
        animation-name: heightZero;
        animation-duration: .2s;
        font-size: 0;
      }
      & .header_slogan_subheading {
        animation-name: heightZero;
        animation-duration: .2s;
        font-size: 0;
      }
    }
  }
  .header_bottom {
    animation-name: heightZero;
    animation-duration: .2s;
    & .container {
      animation-name: heightZero;
      animation-duration: .2s;
      & .header_bottom_tag {
        font-size: 0;
      }
      & .header_bottom_category {
        animation-name: heightZero;
        animation-duration: .2s;
        & ul {
          & li {
            & a {
              font-size: 0;
            }
          }
        }
      }
    }
  }
  .header_nav .container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@keyframes changeHeight {
  from {
    min-height: 600px;
    height: 600px;
  }
  to {
    min-height: 80px;
    height: 80px;
  }
}
@keyframes heightZero {
  from {
    height: initial;
  }
  to {
    height: 0;
  }
}
