section.tagcloud
    .tagcloud__item
      .container.tagcloud__container
        p.tagcloud__setup Настрой свою ленту по тегам
        .tagcloud__tags
          a(href="").tag SMM
          a(href="").tag Маркетинг
          a(href="").tag SEO
          a(href="").tag Программирование
          a(href="").tag Дизайн
          a(href="").tag Брендинг
    .tagcloud__item
      .container.tagcloud__container
        .tagcloud__tags
          a(href="").tag Статистика
          a(href="").tag Стратегия
          a(href="").tag Верстка
          a(href="").tag Решения
          a(href="").tag Трудоустройство
          a(href="").tag Рассрочка
          a(href="").tag Начинающим
    .tagcloud__item
      .container.tagcloud__container
        .tagcloud__tags
          a(href="").tag SEO
          a(href="").tag Программирование
          a(href="").tag Дизайн
          a(href="").tag Айдентика
          a(href="").tag Упаковка
    .tagcloud__item
      .container.tagcloud__container
        .tagcloud__tags
          a(href="").tag Сменить работу
          a(href="").tag Повысить зарплату
          a(href="").tag Сменить работу
    .tagcloud__item
      .container.tagcloud__container
        a(href="").btn.tagcloud__subscribe Подписка на новости
