section.short-section.short-section--dark
  .container.short-section__container
    .short-section__top
      .short-section__left
        h2.heading 02
      .short-section__whom
        p Предпринимателям
      .short-section__description
        p.subheading совсем коротко
        p.subheading о разделе.
section.section-list.section-list--dark
  .section-list__item
    .container
      .section-list__left
        a(href="") Полезные материалы
        a.tag-big.tag-big--empty
      .section-list__right
        a(href="") Интернет—маркетинг для B2B, программа 3.0
        p.section-list__author Андрей Иванов
  .section-list__item
    .container
      .section-list__left.section-list__left--onlytag
        a.tag-big Хит 2020
      .section-list__right
        a(href="") Директор по Digital Маркетингу
        p.section-list__author MAD
  .section-list__item
    .container
      .section-list__left.section-list__left--onlytag
        a.tag-big Выбор редакции
      .section-list__right
        a(href="") Контен—маркетинг для компаний и руководителей
        p.section-list__author Ксения Вавилова
  .section-list__item
    .container
      .section-list__left
        a(href="") Новое
        a.tag-big Хит 2020
      .section-list__right
        a(href="") Профессия Интернет—маркетолог
        p.section-list__author Completo
  .section-list__item
    .container
      .section-list__left.section-list__left--empty
      .section-list__right
        a(href="") Маркетолог-практик
        p.section-list__author MAD
  .section-list__item
    .container
      .section-list__left.section-list__left--empty
      .section-list__right
        a(href="") 10 ошибок в рекламе Facebook, из-за которых вы сливаете бюджет
        p.section-list__author Виктор Марков
  .section-list__item
    .container
      .section-list__left.section-list__left--empty
      .section-list__right
        a(href="") SMM по полочкам
        p.section-list__author Александр Македонский
.short-section.short-section--dark
  .container.short-section__container
    .short-section__bottom
      .short-section__left
        .short-section__social
          p.smalltext Читайте где удобно
          ul
            li
              a(href="") VK
            li
              a(href="") Facebook
            li
              a(href="") Twitter
    .short-section__cta
      a(href="").btn.short-section__authorBtn Как стать автором
      a(href="").btn.short-section__madBtn Курсы MAD
