section.slogan
  .container
    h1.slogan__heading.text--uppercase Mad Magazine
    h2.slogan__subheading Журнал<br />Masters Academy in Digital<br />о&nbsp;digital, маркетинге, бизнесе<br />и&nbsp;менеджменте.
section.category-nav
  .container
    .category-nav__bottom
        a(href="").category-nav__tag Материалы и руководства
        .category-nav__category
          ul#categoryNavList
            li
              a(href="", data-link="novice") Новичкам
            li
              a(href="", data-link="entrepreneur") Предпринимателям
            li
              a(href="", data-link="marketolog") Маркетологам
            li
              a(href="", data-link="manager") Руководителям
